[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"

[dev-packages]
black = "*"
build = "*"
twine = "*"
setuptools = "*"
sphinx-immaterial = "*"
sphinx-copybutton = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
